/*---RESETEO DE CSS---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*---COLOR DE FONDO DE TODA LA PÁGINA---*/
main {
  background-color: black;
  width: 100%;
  height: 100%;
  text-align: center;
}
article{
  background:linear-gradient(rgb(179, 44, 44),black);
}

form {
  background-color: black;
  width: 100%;
  height: 100%;
}

aside {
  background-color: black;
  width: 100%;
  height: 100%;
  background:linear-gradient(rgb(179, 44, 44),black);
}

footer {
  background-color: black;
  width: 100%;
  height: 100%;
  background:linear-gradient(rgb(179, 44, 44),black);
}

/*---LOGO ARIZONA---*/
.logo-arizona {
  width: 10%;
  height: 10%;
}

/*---TITULOS---*/
h1 {
  color: rgb(248, 248, 248);
  size: 4rem;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.titulounoindex {
  color: #080808;
}

h2 {
  color: rgb(250, 250, 250);
  size: 2rem;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  padding-top: 20px;
}
.titulodosindex {
  color: #080808;
}

h3 {
  color: rgb(247, 242, 242);
  size: 1rem;
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  padding-top: 20px;
}

h4 {
  color: rgb(241, 235, 235);
  size: 0.5rem;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 20px;
  padding-bottom: 10px;
}

/*---BARRA DE NAVEGACIÓN---*/

nav {
  background: #feffff;
  height: 80px;
  width: 100%;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  border-radius: 20px;
  height: 100px;
  width: 160px;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  margin: 0 5px;
  list-style: none;
}
nav ul li a {
  color: rgb(10, 10, 10);
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

li a.active,
li a:hover {
  background: #7a7ada;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: rgb(26, 25, 25);
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

.carousel-item {
  border: solid;
}

.menu-icon img {
  width: 30px;
  height: 30px;
  border-radius: 2px;
}

.menu-icon,
#check {
  display: none;
}
.accordion {
  border: solid;
}

/* PRODUCTS */
.products .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.products .row .box {
  width: 320px;
  border: solid;
}

/* MEDIAS QUERIES */
@media (max-width: 952px) {
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: flex;
  }
  nav {
    padding: 0 30px;
  }
  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 80px);
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    flex-direction: column;
    z-index: 10;
  }
  nav ul li {
    margin: 20px 0;
  }
  nav ul li a {
    font-size: 20px;
  }
  li a:hover,
  li a.active {
    background: #dfdfeb;
    color: rgb(27, 26, 26);
  }
  #check:checked ~ ul {
    left: 0;
  }
  .banner .row h2 {
    font-size: 3rem;
  }
  .banner .btnServices {
    margin-top: 3rem;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .checkbtn {
    display: block;
  }
  .carousel-item {
    border: solid;
    position: relative;
  }

  .menu-icon {
    display: block;
    position: fixed;
    top: 60px;
    right: 60px;
    cursor: pointer;
  }
  .nav-menu ul {
    display: grid;
    position: relative;
    border-radius: 2rem 2rem 2rem 2rem;
    top: 10px;
    left: -130%;
    background: rgb(148, 143, 143);
    width: 100%;
    height: 130vh;
    right: 0;
  }
  .nav-menu ul .nav__link {
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin: 0px;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media (min-width: 768px) {
  .nav {
    --state-hamburguer: scale(0);
    --state-menu: translate(0);
  }

  .nav:target {
    --state-close: scale(0);
  }
  .nav__links {
    padding: 0;
    background-color: unset;
    position: unset;
    gap: 1.5rem;
    grid-auto-flow: column;
    transform: unset;

    grid-column: -2/-1;
    grid-row: 1/2;
  }

  .nav__link {
    font-size: 1rem;
    letter-spacing: none;
  }
}

/*---CARROUSEL INDEX---*/

/*---INDEX PARTE CENTRAL---*/
.texto-article-index {
  color: rgb(255, 255, 255);
  size: 0.4rem;
  font-weight: normal;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

/*---COLOR BOTONES---*/
/* input {
  background-color: rgb(255, 216, 117);
  text-align: center;
  
}

/*---SECCIÓN ASIDE---*/
.texto-aside {
  color: rgb(255, 255, 255);
  size: 0.3rem;
  font-weight: normal;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.boton-texto-aside {
  color: rgb(255, 255, 255);
  size: 0.3rem;
  font-weight: lighter;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}


/*---SECCIÓN CHARLEMOS---*/
fieldset {
  color: rgb(255, 255, 255);
  text-align: center;
}

.formulario-nombre-y-apellido {
  background-color: rgb(255, 255, 255);
}

.formulario-email-usuario {
  background-color: rgb(255, 255, 255);
}

.formulario-telefono-usuario {
  background-color: rgb(255, 255, 255);
}

/*---SECCIÓN TU PLAN DE REDES---*/
.texto-tu-plan-de-redes {
  color: rgb(255, 255, 255);
  text-align: center;
}

/*---SECCIÓN SOBRE ARIZONA---*/
.imagen-sobre-arizona {
  width: 60%;
  height: 30%;
}

.texto-parrafo-sobre-arizona {
  color: rgb(255, 255, 255);
  text-align: center;
}

/*---SECCIÓN ARMA TU PÁGINA WEB---*/
.texto-arma-tu-pagina-web {
  color: rgb(255, 255, 255);
  text-align: center;
}

/*---GALERIA-GRIDS---*/

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #03afff;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

@media (min-width: 600px) {
  .wide {
    grid-column: span 2;
  }

  .tall {
    grid-row: span 2;
  }
}

/*---CARDS---*/
.container-card {
  width: 100%;
  display: flex;
  max-width: 1100px;
  margin: auto;
}
.title-cards {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: #7a7a7a;
}
.card {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
}
.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
.card img {
  width: 100%;
  height: 210px;
}
.card .contenido-card {
  padding: 15px;
  text-align: center;
}
.card .contenido-card h3 {
  margin-bottom: 15px;
  color: #7a7a7a;
}
.card .contenido-card p {
  line-height: 1.8;
  color: #6a6a6a;
  font-size: 14px;
  margin-bottom: 5px;
}
.card .contenido-card a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
  margin-bottom: 5px;
}
.card .contenido-card a:hover {
  background: #2fb4cc;
  color: #fff;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container-card {
    flex-wrap: wrap;
  }
  .card {
    margin: 15px;
  }
}

/*---FOOTER---*/
.footer-copy {
  color: rgb(255, 255, 255);
  size: 0.1em;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-bottom: 10px;
}

.boton-redes-footer {
  color: rgb(32, 32, 32);
  size: 0.1em;
  font-weight: normal;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  padding-bottom: 10px;
}
